body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
}

.content {
    display: flex;
}

.logo3 {
    width: 450px;
    margin-right: 20px; /* Espaço entre a imagem e o formulário */
}

.form-container {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0D47A1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #90CAF9;
}

.text-center {
    text-align: center;
}
