body {
    font-family: 'Montserrat', sans-serif;
      background-color:#FFFFFF ;
}
h2 {
    font-weight: 400;
    font-style: italic;
}
h1 {
    color: #0D47A1;
}
button {
    background-color: #0D47A1;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #90CAF9;
}
.logo {


    width: 400px;
    height: auto;

}.cabecalho {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
     background-color: #F3FBFF;
 }
 .content {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 20px;
 }

 .texto {
     max-width: 60%; /* Ajuste a largura máxima conforme necessário */

 }
